* {
  font-family: 'Sanchez', 'Helvetica', serif;
}

body {
  max-width: 1250px;
}

nav#m__nav {
  height: 50px;
  width: 100vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 1000;
}

nav#m__nav.stuck {
  position: fixed;
  top: 0;
  background-color: light-grey;
}

nav a {
  color: black;
  font-family: 'Poppins', 'Helvetica', sans-serif;
  font-weight: bold;
  margin: 0px 20px;
}

body header {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 50px);
  width: 100%;
}

header h1 {
  font-size: 40px;
  font-family: 'Poppins', 'Helvetica', sans-serif;
  color: white;
}

header h2 {
  font-size: 18px;
  color: white;
}

header h2 a {
  color: white;
}

.m__hero-img {
  background: url(../assets/images/omakase.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100vw;
  height: calc(100vh - 50px);
}

.m__hero-background {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100vw;
  height: calc(100vh - 50px);
  background-color: black;
  opacity: 0.3;
  position: absolute;
}

main {
  padding: 0 50px 50px 50px;
  background-color: #f2f2f2;
  width: 100vw;
}

main img.m__platter-img {
  border-radius: 50%;
  width: 300px;
  height: auto;
  display: inline-block;
}

footer {
  background-color: #484f47;
  color: white;
  width: 100vw;
  padding: 20px 150px;
  bottom: 0;
}

.footer-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.m__table {
  max-width: 500px;
  margin: auto;
}

footer td, footer p {
  color: white;
}

footer p {
  margin-top: 20px;
}

iframe {
  width: 50%;
  padding-right: 50px;
  min-height: 300px;
}

/* Responsive Styles */

@media (max-width: 600px) {

  header h1 {
    margin: 20px;
    font-size: 30px;
  }

  nav a {
    margin: 0px 10px;
    font-size: 12px;
  }

  footer {
    padding: 20px;
  }

  .m__table {
    margin-top: 20px;
  }

  iframe {
    width: 100%;
    padding-right: 0px;
  }
}