* {
  font-family: "Sanchez", "Helvetica", serif;
}

body {
  max-width: 1250px;
}

nav#m__nav {
  height: 100px;
  width: 100vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  z-index: 1000;
  position: sticky;
  top: 0;
}

nav#m__nav.stuck {
  position: fixed;
  top: 0;
  background-color: light-grey;
}

nav a {
  color: black;
  font-family: "Poppins", "Helvetica", sans-serif;
  font-weight: bold;
  margin: 0px 20px;
  text-align: center;
}

.m__nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}

.sticky-order-button {
  width: 100vw;
  padding: 15px;
  text-align: center;
  background-color: brown;
  color: white;
  text-decoration: underline;
}

body header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: white;
  position: absolute;
}

header h1 {
  font-size: 40px;
  font-family: "Poppins", "Helvetica", sans-serif;
}

header h2 {
  font-size: 18px;
}

.m__hero {
  width: 100vw;
  height: 500px;
  position: relative;
}

.alert-box {
  position: relative;
  top: 0;
  background-color: #f5d282;
  width: 100vw;
  padding: 20px;
  text-align: center;
  color: black;
}

.alert-box p {
  max-width: 600px;
  margin: auto;
}

.alert-box table {
  margin: auto;
}

.alert-box table,
.alert-box table th,
.alert-box table td {
  border: 1px solid #939393;
}

.alert-box table td {
  padding: 5px;
}

.m__hero-img {
  position: absolute;
  background: url(../assets/images/omakase.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100vw;
  height: 500px;
  top: 0;
}

.m__hero-background {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100vw;
  height: 500px;
  background-color: black;
  opacity: 0.3;
  position: absolute;
  top: 0;
}

main {
  padding: 0 50px 50px 50px;
  background-color: #f2f2f2;
  width: 100vw;
}

main img.m__platter-img {
  border-radius: 50%;
  width: 300px;
  height: auto;
  display: inline-block;
}

footer {
  background-color: #484f47;
  color: white;
  width: 100vw;
  padding: 20px 150px;
  bottom: 0;
}

.footer-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.m__table {
  max-width: 500px;
  margin: auto;
}

footer td,
footer p {
  color: white;
}

footer p {
  margin-top: 20px;
}

iframe {
  width: 50%;
  padding-right: 50px;
  min-height: 300px;
}

/* Responsive Styles */

@media (max-width: 600px) {
  main {
    padding: 0 30px 30px 30px;
  }

  header h1 {
    margin: 20px;
    font-size: 30px;
  }

  nav a {
    margin: 0px 10px;
    font-size: 12px;
  }

  footer {
    padding: 20px;
  }

  .m__table {
    margin-top: 20px;
  }

  iframe {
    width: 100%;
    padding-right: 0px;
  }
}
